

/* ============ MEDIA QUERIES (MOBILE =========*/
/* @media screen and (max-width: 600px) {
    .achievements__cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        padding: 0;
    }

    .team__member p{
        margin-bottom: 1.5rem;
    }
} */